@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 75vh;
    width: 72vw;
    background-size: cover;
    font-family: "Roboto";
}

.heading {
    background-color: #323f4b;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    height: 53px;
}

.padding {
    padding: 16px;
}

.paragraph {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    text-align: right;
    height: 42px;
    width: 350px;
    padding: 15px;
    color: #ffffff;
    background-color: #47a3f3;
    font-size: 15px;
    font-weight: 100;
    margin: 5px;
}

.paragraph1 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: left;
    height: 42px;
    width: 350px;
    padding: 10px;
    color: #ffffff;
    background-color: #52606d;
    font-size: 15px;
    font-weight: 100;
    margin: 5px;
}
